<app-table
  [data]="usersResource.value() ?? []"
  [(page)]="page"
  [(pageSize)]="pageSize"
  [totalItems]="mockXTotalCount"
  [dataId]="'id'"
  [isLoading]="usersResource.isLoading()"
  (sortChange)="handleSortChange($event)"
>
  <table-column header="Name" key="username" [sortable]="true"></table-column>
  <table-column
    header="Departments"
    key="departments"
    [sortable]="true"
    [frozen]="true"
  ></table-column>
  <table-column header="Address" key="address" [sortable]="true"></table-column>
  <table-column header="Phone" key="phone"> </table-column>
  <table-column
    header="DOB"
    key="dob"
    [dataType]="COL_TYPE.DATE"
    [sortable]="true"
    [frozen]="true"
    [alignFrozen]="ALIGN_FROZEN.RIGHT"
  ></table-column>
</app-table>
